extends layout

block content
	//
		h1 Simple Chat
		p This is a damn simple chat.
	script(type='text/template', id='template-message')
		b <%- name %>
		span <%- body %>
	script(type='text/template', id='template-user-in-list')
		li <%- name %>
	script(type='text/template', id='template-canvas')
		canvas(width="400", height="200")
	.container#chat
		.span9
			ul#chatroom.well
		.span2
			ul#userlist.well
		.span11
			form#input.form-horizontal.well(method="post")
					input(type="text", name="body")
		#loginForm.modal.hide.fade(role="dialog")
			.modal-body
				h3 Tell us who you are!
				form.form-search
					input(type="text", name="username")
					&nbsp;
					button.btn.btn-primary(type="submit") Let me in!
