extends layout

block content
	//
		h1 Simple Chat
		p This is a damn simple chat.
	script(type='text/template', id='template-message')
		b.username <%- name %>
		span <%- body %>
	script(type='text/template', id='template-user-in-list')
		li.username(style!="border-color: <%- color %>") <%- name %>
	script(type='text/template', id='template-canvas')
		div
			.controls
				input.pen_width(type="range", min="1", max="10", step="1", value="2")
				input.pen_color(value="#000000")
			canvas(width="400", height="200")
	script(type='text/template', id='template-panel')
		.modal-header.handle
			h3 <%= header %>
			span.buttons
				<% if(mode == App.PanelMode.Hidden) { %>
				span.btn.btn-inverse.btn-mini.btn-show
					i.icon-fullscreen
				<% } else { %>
				<% if(mode != App.PanelMode.Embedded) { %>
				span.btn.btn-mini.btn-inverse.btn-close
					i.icon-remove
				<% } %>
				span.btn.btn-mini.btn-inverse.btn-lock
					i.icon-lock
				<% if(mode == App.PanelMode.Docked) { %>
				span.btn.btn-mini.btn-inverse.btn-undock
					i.icon-chevron-left
				<% } %>
				<% if(mode == App.PanelMode.Panel) { %>
				span.btn.btn-mini.btn-inverse.btn-dock
					i.icon-chevron-right
				<% } %>
				<% } %>
		<% if(mode != App.PanelMode.Hidden) { %>
		.modal-body
		<% } %>
	// TODO: implement panel for chat
	.container#chat
		.modal-header.handle
			h3 Chat
		ul#chatroom
		ul#userlist.well
		form#input.form-horizontal(method="post")
				input(type="text", name="body", autocomplete="off")
		#loginForm.modal.hide.fade(role="dialog", keyboard="false", data-backdrop="static")
			.modal-body
				h3 Tell us who you are!
				form.form-search
					input(type="text", name="username")
					&nbsp;
					button.btn.btn-primary(type="submit") Let me in!
		#pastebinForm.modal.hide.fade(role="dialog")
			.modal-header
				h3 Pastebin
			.modal-body
				form
					textarea(name="code", rows="5")
					.form-inline
						select(name="language")
							option(value="abap") abap
							option(value="asciidoc") asciidoc
							option(value="c9search") c9search
							option(value="clojure") clojure
							option(value="coffee") coffee
							option(value="coldfusion") coldfusion
							option(value="csharp") csharp
							option(value="css") css
							option(value="curly") curly
							option(value="c_cpp") c_cpp
							option(value="dart") dart
							option(value="diff") diff
							option(value="django") django
							option(value="dot") dot
							option(value="ftl") ftl
							option(value="glsl") glsl
							option(value="golang") golang
							option(value="groovy") groovy
							option(value="haml") haml
							option(value="haxe") haxe
							option(value="html") html
							option(value="jade") jade
							option(value="java") java
							option(value="javascript") javascript
							option(value="json") json
							option(value="jsp") jsp
							option(value="jsx") jsx
							option(value="latex") latex
							option(value="less") less
							option(value="liquid") liquid
							option(value="lisp") lisp
							option(value="livescript") livescript
							option(value="logiql") logiql
							option(value="lsl") lsl
							option(value="lua") lua
							option(value="luapage") luapage
							option(value="lucene") lucene
							option(value="makefile") makefile
							option(value="markdown") markdown
							option(value="mushcode") mushcode
							option(value="mushcode_high_rules") mushcode_high_rules
							option(value="objectivec") objectivec
							option(value="ocaml") ocaml
							option(value="pascal") pascal
							option(value="perl") perl
							option(value="pgsql") pgsql
							option(value="php") php
							option(value="powershell") powershell
							option(value="python") python
							option(value="r") r
							option(value="rdoc") rdoc
							option(value="rhtml") rhtml
							option(value="ruby") ruby
							option(value="sass") sass
							option(value="scad") scad
							option(value="scala") scala
							option(value="scheme") scheme
							option(value="scss") scss
							option(value="sh") sh
							option(value="sql") sql
							option(value="stylus") stylus
							option(value="svg") svg
							option(value="tcl") tcl
							option(value="tex") tex
							option(value="text") text
							option(value="textile") textile
							option(value="tmsnippet") tmsnippet
							option(value="toml") toml
							option(value="typescript") typescript
							option(value="vbscript") vbscript
							option(value="velocity") velocity
							option(value="xml") xml
							option(value="xquery") xquery
							option(value="yaml") yaml
						button.btn.btn-primary(type="submit") Send