extends layout

block content
	//
		h1 Simple Chat
		p This is a damn simple chat.
	script(type='text/template', id='template-message')
		b.username <%- name %>
		span <%- body %>
	script(type='text/template', id='template-user-in-list')
		li.username(style!="border-color: <%- color %>") <%- name %>
	script(type='text/template', id='template-canvas')
		canvas(width="400", height="200")
	script(type='text/template', id='template-panel')
		.modal-header.handle
			h3 <%= header %>
			button.close
		.modal-body
	// TODO: implement panel for chat
	.container#chat
		.modal-header.handle
			h3 Chat
		ul#chatroom
		ul#userlist.well
		form#input.form-horizontal(method="post")
				input(type="text", name="body")
		#loginForm.modal.hide.fade(role="dialog")
			.modal-body
				h3 Tell us who you are!
				form.form-search
					input(type="text", name="username")
					&nbsp;
					button.btn.btn-primary(type="submit") Let me in!
