doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		//link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/socket.io/socket.io.js')
		// script(src='js/vendor/jquery.js')
		// script(src="js/vendor/underscore.js")
		// script(src='js/vendor/backbone.js')
		// script(src='js/vendor/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
		script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
		script(src='js/app.js')
		script(src='js/models/message.js')
		script(src='js/models/user.js')
		script(src='js/collections/messagecollection.js')
		script(src='js/collections/usercollection.js')
		script(src='js/views/userlistview.js')
		script(src='js/views/appview.js')
		script(src='js/views/messageview.js')
		script(src="js/router.js")
		script(src='js/setup.js')

	body
		block content